<div class="container mt-4">

  <h2 class="text-center">Movimientos de Inventario</h2>
  <hr>

  <button class="btn btn-secondary mb-3" (click)="goToBackInventories()">
    ⬅ Atrás
  </button>

  <!-- LOADING -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>

  <!-- TABLA -->
  <table
    *ngIf="!loading && movements.length > 0"
    class="table table-striped table-bordered"
  >
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Cantidad</th>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>ID de Producto</th>
        <th>Nombre del producto</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of movements">
        <td>{{ i.id }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.type }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.productId }}</td>
        <td>{{ i.productName }}</td>

          <span
            class="badge"
            [ngClass]="{
              'bg-success': i.type === 'IN',
              'bg-danger': i.type === 'OUT'
            }"
          >
            {{ i.type }}
          </span>
          
        <td>{{ i.quantity }}</td>
        <td>{{ i.date | date:'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>

  <!-- EMPTY -->
  <div *ngIf="!loading && movements.length === 0" class="alert alert-info">
    No hay movimientos registrados.
  </div>

</div>

